Repository woorepie/woorepie-IaC, pull requests merged in 2025-05, with the labels that each got.

#5 [FEAT] Terraform AWS VPC 네트워크 구성 및 모듈화 구조 적용
  .gitignore
  Terraform/main.tf
  Terraform/modules/network/main.tf
  Terraform/modules/network/outputs.tf
  Terraform/modules/network/variables.tf
  Terraform/outputs.tf
  Terraform/variables.tf
  Terraform/versions.tf
Labels: terraform, feature

#8 [FEAT] Terraform에 보안 그룹 추가
  Terraform/main.tf
  Terraform/modules/network/main.tf
  Terraform/modules/network/outputs.tf
  Terraform/modules/network/variables.tf
  Terraform/variables.tf
Labels: terraform, feature

#9 [FIX] Private Security Group 인바운드 규칙 수정
  Terraform/modules/network/main.tf
Labels: terraform

#14 [FEAT] S3, Cloudfront, Elasticache 생성
  Terraform/main.tf
  Terraform/modules/cache/main.tf
  Terraform/modules/cache/outputs.tf
  Terraform/modules/cache/variables.tf
  Terraform/modules/static_web/main.tf
  Terraform/modules/static_web/outputs.tf
  Terraform/modules/static_web/variables.tf
  Terraform/variables.tf
Labels: terraform

#22 [FIX] sealed secret 수정
  Helm/was/templates/sealed-was-secret.yaml
Labels: helm

#25 [FIX] Jenkinsfile IRSA 적용 및 IaC 레포 커밋 로직 개선
  Helm/jenkins/Jenkinsfile
Labels: helm

#30 [FIX] was ingress path 수정
  Helm/was/values.yaml
Labels: helm
